<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" 
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          routerLink="events">All Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
          routerLinkActive="active"
          routerLink="events/new">Create Event</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Events
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Angular Connect</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
          routerLinkActive="active"
          routerLink="/jsdemo">JS demos</a>
        </li>
      </ul>
      <form (ngSubmit)="searchSession(searchTerm)" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name="searchTerm" [(ngModel)]="searchTerm"
         type="search" placeholder="Search Sessions" aria-label="Search">
         <!-- binding searchId with the directive for communication -->
        <button class="btn btn-outline-success my-2 my-sm-0" appModalTrigger="searchNav" type="submit">Search</button>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item pull-right">
          <!-- checking if user is authenticated using fake auth service -->
            <a class="nav-link" routerLink="user/login" *ngIf="!auth.isAuthenticated()" >Login</a>
            <a class="nav-link" routerLink="user/profile" *ngIf="auth.isAuthenticated()" >Welcome {{auth.currentUser.firstname}}</a>
          </li>
      </ul>
    </div>
  </nav>

  <app-simple-modal elementId="searchNav" title="Matching Sessions" > 
    <div class="list-group list-group-flush">
      <a class="list-group-item" *ngFor="let session of foundSession" [routerLink]="['/events', session.eventId]">
        {{session.name}}
      </a>
    </div>
  </app-simple-modal>