<div class="row" style="margin-bottom: 15px;" *ngFor="let session of sessions">
    <div class="col-md-10">
        <div class="card bg-light">

                <app-collapsable-well [sessionTitle]="session.name" >
                    <h6>{{session.presenter}}</h6>
                    <span>Duration: {{session.duration}}</span><br />
                    <span>Level: {{session.level}}</span>
                    <p>{{session.abstract}}</p>
                </app-collapsable-well>

        </div>
    </div>
</div>