<!-- lazy loading this component -->

<div>
  <h1>Edit Your Profile </h1>
  <hr>
  <div class="col-md-4">
    <form autocomplete="off" [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)" novalidate>
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input id="firstName" type="text" [ngClass]="{'error': !validateFirstName()}"
        formControlName = "firstName"
        class="form-control" placeholder="First Name..." />
        <span *ngIf="!validateFirstName() && profileForm.controls.firstName.errors?.required"  [ngClass]="{'error': !validateFirstName()}" >Required field</span>
        <span *ngIf="profileForm.controls.firstName.errors?.pattern" 
              [ngClass]="{'error': !validateFirstName()}">Firstname should start with alphabet**
        </span>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input id="lastName" type="text"
        [ngClass]="{'error': !validateLastName()}"
        formControlName= "lastName"
        class="form-control" placeholder="Last Name..." />
        <span *ngIf="!validateLastName()"  [ngClass]="{'error': !validateLastName() }">Required field</span>
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" (click)="cancelUpdate()" class="btn btn-default">Cancel</button>
    </form>
  </div>
</div>