<h2 class="mt-3">This file contains JS commonly used functions</h2>
<hr>

<p>The filter() method creates a new array with all elements that pass the test implemented</p>
Words Array:<br>
<span *ngFor="let r of words">
    <span> {{r}}, </span>
</span>

<br><br>

Results words with min 5 letters:<br>
<span *ngFor="let r of result">
    <span> {{r}}, </span>
</span>
<hr>

Original Array:

<span *ngFor="let n of numArray">
    <span> {{n}}, </span>
</span>
<br>
Prime Array: 
<br>
<span *ngFor="let p of primeArray">
    {{p}}, 
</span>

<hr>
find() method: <br>
The find() method returns the value of the first element in the provided array that satisfies the provided testing function.<br>
 Age Greater than 18: <span > {{found}} </span>   <br>
If inventory contains cherries: <span>{{findCherry.name}}, {{findCherry.quantity}}</span>