 <div class="container">
    <img [src]="event?.imageUrl" class="event-image" [alt]="event?.name">

    <div class="row">
        <div class="col-md-11">
            <h2>{{event?.name}} </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div><strong>Date:</strong> {{event?.date | date}}</div>
            <div><strong>Time:</strong> {{event?.time}}</div>
            <div><strong>Price:</strong> {{event?.price | currency:'USD' }}</div>
        </div>
        <div class="col-md-6">
            <address>
                <strong>Address:</strong><br />
                {{event?.location?.address}}<br />
                {{event?.location?.city}}, {{event?.location?.country}}
            </address>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-2">
            <h3>Sessions</h3>
        </div>
        <div class="col-md-7">
            <button class="btn btn-outline-dark btn-sm" [class.active]="filterBy === 'all'" (click)="filterBy = 'all' " >All</button>
            <button class="btn btn-outline-dark btn-sm" [class.active]="filterBy === 'beginner'" (click)=" filterBy = 'beginner' " >Beginner</button>
            <button class="btn btn-outline-dark btn-sm" [class.active]="filterBy === 'intermediate'" (click)=" filterBy = 'intermediate' " >Intermediate</button>
            <button class="btn btn-outline-dark btn-sm" [class.active]="filterBy === 'advance'" (click)=" filterBy = 'advance' " >Advance</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-warning" type="button" (click)="addSession()" >Create Session </button>
        </div>
    </div>
    <br>
    <div class="col-md-10">
        <app-create-session (saveNewSession)="addNewSession($event)" (oncancelSession)="cancelAddSession()" *ngIf="ifSession"></app-create-session>
        <app-session-list [filterBySession]="filterBy" *ngIf="!ifSession" [sessions]="event?.sessions" ></app-session-list>
    </div>
    
</div>